<div>
  <div>
    <h1>
      List of all shopping lists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new shopping list
    </h2>

    <form action="/insert_shopping_list" method="post">
      <div>
        <label for="list_name_box">
          List name
        </label>

        <input type="text" id="list_name_box" name="query_list_name" placeholder="name the list!">
      </div>

      <div>
        <label for="list_share">
          Share list with
        </label>

        <input type="text" id="list_share" name="query_list_share" placeholder="name the list!">
      </div>

      <button>
        Create shopping list
      </button>
    </form>
  </div>
</div>

<hr>
<div>
<h2>My Lists</h2>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          List name
        </th>

        <th>
          Number of items
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_shopping_lists.each do |a_shopping_list| %>
      <tr>
        <td>
          <%= a_shopping_list.id %>
        </td>

        <td>
          <%= a_shopping_list.list_name %>
        </td>

        <td>
          <%= a_shopping_list.list_items_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_shopping_list.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_shopping_list.updated_at) %> ago
        </td>

        <td>
          <a href="/shopping_lists/<%= a_shopping_list.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
<h2>Lists shared with me</h2>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          List name
        </th>

        <th>
          Author
        </th>

        <th>
          Number of items
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_list_collaborations.each do |a_collab_list| %>
      <tr>
        <td>
          <%= a_collab_list.list_id %>
        </td>

        <td>
          <%= a_collab_list.list.list_name %>
        </td>

        <td>
          <%= a_collab_list.list.user_id %>
        </td>

        <td>
          <%= a_collab_list.list.list_items_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_collab_list.list.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_collab_list.list.updated_at) %> ago
        </td>

        <td>
          <a href="/shopping_lists/<%= a_shopping_list.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
