
  <div class="jumbotron">
    <h1 class="display-3">
      Shopping lists
    </h1>

     <hr class="my-4">
    <div>
      <h2>
      Make a list
    </h2>

    <form action="/insert_shopping_list" method="post">
      <label class="col-form-label">List name</label>
      <div>
        <input type="text" id="list_name_box" name="query_list_name" placeholder="name the list!" class="form-control" style="max-width: 20rem;">
      </div>

      <div>
      <button class="btn btn-success">
        Create
      </button>
      </div>    

      
    </form>
  </div>
  </div>

 



<hr>
<div class="card border-dark mb-3" style="max-width: 60rem;">
<h3 class="card-header">My Lists</h3>
  <div class="card-body">
    <table class="table table-hover">
    <thead>
      <tr class="table-active">
        
        <th scope="col">
          List name
        </th>

        <th scope="col">
          Number of items
        </th>

        <th scope="col">
          Created
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @list_of_shopping_lists.each do |a_shopping_list| %>
      <tr>
        
        <td>
          <%= a_shopping_list.list_name %>
        </td>

        <td>
          <%= a_shopping_list.list_items_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_shopping_list.created_at) %> ago
        </td>
        
        <td>
          <a href="/shopping_lists/<%= a_shopping_list.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div class="card border-dark mb-3" style="max-width: 60rem;">
<h3 class="card-header">Lists shared with me</h3>
  <div class="card-body">
    <table class="table table-hover">
    <thead>
    
      <tr class="table-active">
        <th scope="col">
          List name
        </th>

        <th scope="col">
          Author
        </th>

        <th scope="col">
          Number of items
        </th>

        <th scope="col">
          Created
        </th>

        <th scope="col">
        </th>
      </tr>
      </thead>

      <% @list_of_list_collaborations.each do |a_collab_list| %>
      <tr>
        <td>
          <%= a_collab_list.list.list_name %>
        </td>

        <td>
          <%= a_collab_list.list.user.name %>
          
        </td>

        <td>
          <%= a_collab_list.list.list_items_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_collab_list.list.created_at) %> ago
        </td>
        <td>
          <a href="/shopping_lists/<%= a_collab_list.list_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

