<div>
  <div>
    <h1>
      <%= @the_shopping_list.list_name %>
    </h1>

    <div>
      <div>
        <a href="/shopping_lists">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_shopping_list/<%= @the_shopping_list.id %>">
          Delete shopping list
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Number of items
      </dt>
      <dd>
        <%= @the_shopping_list.list_items_count %>
      </dd>

      <dt>
        Shared with
      </dt>
      <dd>
        <%= @the_shopping_list.list_collaborations_count %>
      </dd>

      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_shopping_list.created_at) %> ago
      </dd>

      </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit list name
    </h2>

    <form action="/modify_shopping_list/<%= @the_shopping_list.id %>"  method="post" >
      <div>
        <label for="list_name_box">
          List name
        </label>

        <input type="text" id="list_name_box" name="query_list_name" value="<%= @the_shopping_list.list_name %>">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_shopping_list.user_id %>">
      </div>

      <div>
        <input type="hidden" id="list_items_count_box" name="query_list_items_count" value="<%= @the_shopping_list.list_items_count %>">
      </div>

      <div>
        <input type="hidden" id="list_collaborations_count_box" name="query_list_collaborations_count" value="<%= @the_shopping_list.list_collaborations_count %>">
      </div>

      <button>
        Update!
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Share list
    </h2>

    <form action="/insert_list_collaboration" method="post">
          <input type="hidden" id="list_id_box" name="query_list_id" value="<%= @the_shopping_list.id %>" >
      <%#div%>
        <%#label for="collab_with_user_id_box"%>
          Share with
        <%#/label%>

        <select id="collab_with_user_id_box" name="query_collab_with_user_id">
          <% @user_list.each do |a_user| %>
          <option value="<%= a_user.id %>"><%= a_user.name %></option>
          <% end %>
        </select>
      <%#/div%>

      <button>
        Share!
      </button>
    </form>
  </div>
</div>

<div>
  <h2>Shared with</h2>
  <div>
    <table>
      <tr>
        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @the_list_collaboration.each do |a_collab| %>
      <tr>
        <td>
          <%= a_collab.collab_with_user.name %>
        </td>

        <td>
        <a href="/delete_list_collaboration/<%= a_collab.id %>">
          <i class="fas fa-minus-circle"></i>
        </a>
      </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add an item
    </h2>

    <form action="/insert_list_item" method="post">
      <div>
        <label for="item_name_box">
          Item name
        </label>

        <input type="text" id="item_name_box" name="query_item_name">
      </div>

      <div>
        <label for="quantity_box">
          Quantity
        </label>

        <input type="text" id="quantity_box" name="query_quantity">
      </div>

      <div>
        <input type="hidden" id="list_id_box" name="query_list_id" value="<%= @the_shopping_list.id %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <select id="category_id_box" name="query_category_id">
          <% @list_of_food_categories.each do |a_category| %>
          <option value="<%= a_category.id %>"><%= a_category.category %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <%# div %>
        <%# input type="checkbox" id="complete_flag_box" name="query_complete_flag" value="1"%>

        <%# label for="complete_flag_box">Complete flag</label %>
      <%#/div%>

      <button>
        Add!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <h2>Shopping List Items</h2>
  <div>

  <div>
  </div>

<div>
  <h3>Need to pick up</h3>
</div>
</div>
    <table>
      <tr>
        <th>
          Aisle
        </th>
        
        <th>
          Category
        </th>

        <th>
          Item
        </th>

        <th>
          Quantity
        </th>

        <th>
          Notes
        </th>

        <th>
          Complete flag
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_list_items_incomplete.each do |a_list_item| %>
      <tr>
        <td>
          <%= a_list_item.category.aisle %>
        </td>  
        
        <td>
          <%= a_list_item.category.category %>
        </td>

        <td>
          <%= a_list_item.item_name %>
        </td>

        <td>
          <%= a_list_item.quantity %>
        </td>

        <td>
          <%= a_list_item.notes %>
        </td>

        <td>
          <%= a_list_item.complete_flag %>
        </td>

        <td>
          <a href="/list_items/<%= a_list_item.id %>">
            Edit
          </a>
        </td>

      <td>
        <a href="/delete_list_item/<%= a_list_item.id %>">
          <i class="fas fa-minus-circle"></i>
        </a>
      </td>

      <td>
        <form action="/modify_list_item/<%= a_list_item.id %>"  method="post">
          <input type="hidden" id="item_name_box" name="query_item_name" value="<%= a_list_item.item_name %>">
          <input type="hidden" id="quantity_box" name="query_quantity" value="<%= a_list_item.quantity %>">
          <input type="hidden" id="list_id_box" name="query_list_id" value="<%= a_list_item.list_id %>">
          <input type="hidden" id="category_id_box" name="query_category_id" value="<%= a_list_item.category_id %>">
          <input type="hidden" id="notes_box" name="query_notes" value="<%= a_list_item.notes %>">
          <input type="hidden" id="complete_flag_box" name="query_complete_flag" value="1">
        
          <button>
            Done!
          </button>
        </form>
      </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
</div>

<div>
  <h3>In the cart!</h3>
</div>

</div>
    <table>
      <tr>
        <th>
          Aisle
        </th>

        <th>
          Category
        </th>

        <th>
          Item
        </th>

        <th>
          Quantity
        </th>

        <th>
          Notes
        </th>

        <th>
          Complete flag
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_list_items_complete.each do |a_list_item| %>
      <tr>
        <td>
          <%= a_list_item.category.aisle %>
        </td>  
        
        <td>
          <%= a_list_item.category.category %>
        </td>

        <td>
          <%= a_list_item.item_name %>
        </td>

        <td>
          <%= a_list_item.quantity %>
        </td>

        <td>
          <%= a_list_item.notes %>
        </td>

        <td>
          <%= a_list_item.complete_flag %>
        </td>

        <td>
          <a href="/list_items/<%= a_list_item.id %>">
            Edit
          </a>
        </td>

      <td>
        <a href="/delete_list_item/<%= a_list_item.id %>">
          <i class="fas fa-minus-circle"></i>
        </a>
      </td>

      <td>
        <form action="/modify_list_item/<%= a_list_item.id %>"  method="post">
          <input type="hidden" id="item_name_box" name="query_item_name" value="<%= a_list_item.item_name %>">
          <input type="hidden" id="quantity_box" name="query_quantity" value="<%= a_list_item.quantity %>">
          <input type="hidden" id="list_id_box" name="query_list_id" value="<%= a_list_item.list_id %>">
          <input type="hidden" id="category_id_box" name="query_category_id" value="<%= a_list_item.category_id %>">
          <input type="hidden" id="notes_box" name="query_notes" value="<%= a_list_item.notes %>">
          <input type="hidden" id="complete_flag_box" name="query_complete_flag" value="0">
        
          <button>
            Oops not done
          </button>
        </form>
      </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

