<div>
  <div>
    <h1>
      List of all list items
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new list item
    </h2>

    <form action="/insert_list_item" method="post">
      <div>
        <label for="item_name_box">
          Item name
        </label>

        <input type="text" id="item_name_box" name="query_item_name">
      </div>

      <div>
        <label for="quantity_box">
          Quantity
        </label>

        <input type="text" id="quantity_box" name="query_quantity">
      </div>

      <div>
        <label for="list_id_box">
          List
        </label>

        <input type="text" id="list_id_box" name="query_list_id">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <div>
        <input type="checkbox" id="complete_flag_box" name="query_complete_flag" value="1">

        <label for="complete_flag_box">Complete flag</label>
      </div>

      <button>
        Create list item
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Item name
        </th>

        <th>
          Quantity
        </th>

        <th>
          List
        </th>

        <th>
          Category
        </th>

        <th>
          Notes
        </th>

        <th>
          Complete flag
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_list_items.each do |a_list_item| %>
      <tr>
        <td>
          <%= a_list_item.id %>
        </td>

        <td>
          <%= a_list_item.item_name %>
        </td>

        <td>
          <%= a_list_item.quantity %>
        </td>

        <td>
          <%= a_list_item.list_id %>
        </td>

        <td>
          <%= a_list_item.category_id %>
        </td>

        <td>
          <%= a_list_item.notes %>
        </td>

        <td>
          <%= a_list_item.complete_flag %>
        </td>

        <td>
          <%= time_ago_in_words(a_list_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_list_item.updated_at) %> ago
        </td>

        <td>
          <a href="/list_items/<%= a_list_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
