<div>
  <div>
  <h1>
      Edit list item
    </h1>
    <div>
      <div>
        <a href="/shopping_lists/<%= @the_list_item.list_id %>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_list_item/<%= @the_list_item.id %>">
          Delete list item
        </a>
      </div>
    </div>

    
<div>
  <div>
    

    <form action="/modify_list_item/<%= @the_list_item.id %>"  method="post" >
      <div>
        <label for="item_name_box">
          Item name
        </label>

        <input type="text" id="item_name_box" name="query_item_name" value="<%= @the_list_item.item_name %>">
      </div>

      <div>
        <label for="quantity_box">
          Quantity
        </label>

        <input type="text" id="quantity_box" name="query_quantity" value="<%= @the_list_item.quantity %>">
      </div>

      <div>
         <input type="hidden" id="list_id_box" name="query_list_id" value="<%= @the_list_item.list_id %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_list_item.category_id %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_list_item.notes %></textarea>
      </div>

      <button>
        Update list item
      </button>
    </form>
  </div>
</div>

<hr>
